{
  "$schema": "https://json.schemastore.org/eslintrc",
  "extends": [
    "next/core-web-vitals",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "ecmaFeatures": {
      "jsx": true,
      "arrowFunctions": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "settings": {
    "next": {
      "rootDir": ["apps/*/"]
    },
    "tailwindcss": {
      "callees": ["cn", "cva"]
    }
  },
  "plugins": [
    "react",
    "@typescript-eslint"
  ],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/jsx-props-no-spreading": "off",
    "prettier/prettier": [
      "warn",
      {},
      {
        "usePrettierrc": true,
        "ignoreFiles": [
          "**/node_modules/**",
          "**/dist/**",
          "**/public/**/workbox-*.{js,js.map}"
        ]
      }
    ],
    // "sort-imports": [
    //   "warn", {
    //     "ignoreCase": false,
    //     "ignoreDeclarationSort": false,
    //     "ignoreMemberSort": false,
    //     "allowSeparatedGroups": false
    //   }
    // ],
    // next rules
    "@next/next/no-img-element": "off",
    // typescript rules
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-console": "off",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_"
      }
    ]
  }
}
